nav {
  color:#FFF;
  margin:0 auto;
}

label {
  padding-left:2%;
}

footer {
  clear:both;
  padding:1%;
  color:#FFF;
  background-color:#003459;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
