.main-nav {
  display: block;
  margin:0 auto;
  background-color:#00171F;
  opacity:0.85;
  list-style: none;
  position: absolute;
  width: 100%;
}

.main-nav ul li {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em;
}

.hero {
  color:#FFF;
  background-image:url('../img/map-450.png');
  background-size:cover;
  background-attachment:fixed;
  padding: 25%;
}

#transplantr {
  font-family: 'Amatic SC', serif;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
}

.icon-menu {
  text-align: center;
  font-size: 2em;
}

.icon-menu:hover {
  color: grey;
}

.icon-menu:hover ul li {
  display: block;
  line-height: 200%;
  padding-top: 5%
}

.icon-menu:active ul li {
  display: block;
  line-height:200%;
}

.search-page {
  text-align:center;
  padding:3%;
}

.home_column {
  width:94%;
  padding:3%;
  display:block;
}

/* Media Query Stuff */

@media only screen and (min-width: 450px) {
  /* Larger cell screen, changes image only */
  .hero {
    background-image: url('../img/map-640.png');
  }

  #transplantr {
    font-size: 2.9em;
  }

}

@media only screen and (min-width: 640px) {
  /* First break point - switch to tablet design: 2+ columns */
  #transplantr {
    font-size: 3.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  .main-nav ul li {
    display: inline-block;
    padding: 0.5% 5%;
  }

  .hero {
    background-image: url('../img/map-1024.png');
    background-position:50% 50%;
    padding: 15%;
  }

  .icon-menu {
    display: none;
  }

  .home_column {
    width:29.33%;
    padding:2%;
    display:block;
    float:left;
  }
}

@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */
  #transplantr {
    font-size: 3.9em;
  }

  .main-nav ul li {
    padding: 1% 10%;
  }

  .hero {
    background-image: url('../img/map-1600.png');
  }

  .icon-menu {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  #transplantr {
    font-size: 4.2em;
  }

  .main-nav ul li {
    padding: 1% 12%;
  }

  .hero {
    background-image: url('../img/map-2000.png');
  }

  .icon-menu {
    font-size: 1.2em;
  }
}