.main-nav {
  display: block;
  margin:0 auto;
  background-color:#00171F;
  opacity:0.85;
  list-style: none;
  position: absolute;
  width: 100%;
}

.main-nav ul li {
  display: block;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em;
}

.hero {
  color:#FFF;
  background-image:url('../img/map-450.png');
  background-size:cover;
  background-attachment:fixed;
  padding: 25%;
}

#transplantr {
  font-family: 'Amatic SC', serif;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
}

.branding {
  font-family: 'Amatic SC', serif;
  color:#FFF;
  font-size:1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
}

.icon-menu {
  text-align: center;
  font-size: 2em;
}

.icon-menu:hover {
  color: grey;
}

a:hover{
  font-style: italic;
}

.icon-menu:hover ul li {
  display: block;
  line-height: 200%;
  padding-top: 5%
}

.icon-menu:active ul li {
  display: block;
  line-height:200%;
}

.search-page {
  text-align:center;
  padding:3%;
}

.home_column {
  width:94%;
  padding:3%;
  display:block;
}

#state-choice,
#county-filter,
#city-choice,
#destination-state-choice,
#destination-county-filter,
#destination-city-choice,
#current-income {
  display: block;
  margin: 0 auto 2%;
  width: 175px;
  border-radius: 15px;
}

#state-choice:focus,
#county-filter:focus,
#city-choice:focus,
#destination-state-choice:focus,
#destination-county-filter:focus,
#destination-city-choice:focus,
#current-income:focus {
  outline: none;
  box-shadow: inset 0 0 5px 2px #add8e6;
}

#current-income {
  text-align: center;
  padding: 3px 0;
  border: none;
}

#current-income:focus {
  outline: none;
  box-shadow: inset 0 0 5px 1px #add8e6;
}

#current-side,
#destination-side {
  box-sizing: border-box;
  text-align: center;
  padding: 3%;
}

#current-city-input,
#destination-city-input {
  padding-bottom: 5%;
}

#current-side {
  background-color: #e9e9e9;
}

#current-submit {
  border-radius: 15px;
  border: none;
  width: 50px;
  transition: transform .5s;
  padding-top: 4px;
  margin:10px 0 15px;
  background-color: #bdbdbd;
}

#current-submit:hover {
  transform: scale(1.2);
}

#current-submit:focus {
  outline: none;
}

#county-econ,
#mortgage-data,
#rental-data,
#destination-econ,
#destination-mortgage-data,
#destination-rental-data {
  margin: 5% 0;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

#county-econ:empty,
#state-rentals:empty,
#city-mean-rentals:empty,
#city-median-rentals:empty,
#destination-econ:empty,
#destination-mortgage-data:empty,
#destination-rental-data:empty {
  display: none;
}

.comparison_table {
  padding: 1%;
}

.chartSize {
  padding:1%;
}


/* Media Query Stuff */

@media only screen and (min-width: 450px) {
  /* Larger cell screen, changes image only */
  .hero {
    background-image: url('../img/map-640.png');
  }

  #transplantr {
    font-size: 2.9em;
  }

  #current-side {
    width: 50%;
    float: left;
  }

}

@media only screen and (min-width: 640px) {
  /* First break point - switch to tablet design: 2+ columns */
  #transplantr {
    font-size: 3.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  .main-nav ul li {
    display: inline-block;
    padding: 0.5% 5%;
  }

  .hero {
    background-image: url('../img/map-1024.png');
    background-position:50% 50%;
    padding: 15%;
  }

  .icon-menu {
    display: none;
  }

  .home_column {
    width:29.33%;
    padding:2%;
    display:block;
    float:left;
    line-height:150%;
  }

}

@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */
  #transplantr {
    font-size: 3.9em;
  }

  .main-nav ul li {
    padding: 1% 5%;
  }

  .hero {
    background-image: url('../img/map-1600.png');
  }

  .icon-menu {
    font-size: 1.1em;
  }

  .comparison_table {
    width:48%;
    float:left;
  }

  .chartSize {
    width: 48%;
    float:right;
  }
}

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  #transplantr {
    font-size: 4.2em;
  }

  .main-nav ul li {
    padding: 1% 8%;
  }

  .hero {
    background-image: url('../img/map-2000.png');
  }

  .icon-menu {
    font-size: 1.2em;
  }
}
