/* Media Query Stuff */
/* These need to updated with correct font sizes and padding spacing as
the page is filled in, but this should give a skeleton to work from. */

.hero {
    font-family: 'Amatic SC', serif;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 3px 4px 4px black;
}

.icon-menu {
  font-size: 2em;
  text-align:center;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.3em;
}

nav a {
  color:#FFF;
}

.main-nav {
  display: block;
  margin:0 auto;
  background-color:#00171F;
  opacity:0.85;
  list-style: none;
  position: absolute;
  width: 100%;
}

.main-nav ul li {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em;
}

.responsive-menu {
  text-align:center;
  font-size:0.5em;
  font-family: "Roboto", sans-serif;
  line-height:150%;
}

.hero {
  color:#FFF;
  background-image:url('https://static.pexels.com/photos/88725/pexels-photo-88725.jpeg');
  background-size:cover;
  background-attachment:fixed;
  padding: 25%;
}

.search-page {
  text-align:center;
  padding:3%;
}

.home_column {
  width:94%;
  padding:3%;
  display:block;
}

.icon-menu:hover ul li {
  display: block;
  line-height:200%;
  list-style:none;
  padding-top:5%
}

.icon-menu:active ul li {
  display: block;
  line-height:200%;
}



@media only screen and (min-width: 450px) {

    .icon-menu {
      display:none;
    }

    .responsive-menu {
      display:none;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        color: #260126;
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .main-nav ul li {
        display: inline-block;
    }

    .hero {
      padding: 20%;
    }
}

/* Goal is to have this display two+ columns */
@media only screen and (min-width: 640px) {

    .icon-menu {
      display:none;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .main-nav ul li {
        padding:0.5% 5%;
    }

    .hero {
      background-position:50% 50%;
      padding: 15%;
    }

    .home_column {
      width:29.33%;
      padding:2%;
      display:block;
      float:left;
    }

}

footer {
  clear:both;
  padding:1%;
  color:#FFF;
  background-color:#003459;
}
